export(".onLoad.dynamicGraph", ".onLoad.dynamicGraphInterface",
       # "blockAncestors", "blockDescendants",
       # "blockLabels", "blockPositions", "blockStrata", 
       "blockTreeToList",
       "DynamicGraph", "dynamicGraphMain", 
       # "edgeNodeIndices", "edgeLabelPositions", "edgeLabels",
       "modalDialog", "nameToVertexIndex", 
       "newBlock", "newBlockEdge",
       "newDefaultModelObject", "newDefaultTestObject", 
       "newFactorEdge", "newFactor", "newVertexEdge", "newVertex", 
       # "newBlockEdgeList", "newBlockList", 
       # "newFactorEdgeList", "newFactorVertexList", 
       # "newNodeList", "newVertexEdgeList", "newVertexList", 
       "returnEdgeList", "returnBlockEdgeList", "returnFactorEdgeList",
       "returnFactorVerticesAndEdges", "returnVertexList",
       "setBlocks", "setTreeBlocks",
       # "vertexColors", "vertexLabelPositions", "vertexLabels", 
       # "vertexNames", "vertexPositions", "vertexStrata",
       "validVertexClasses", "validFactorClasses"
       )
exportClasses("GraphLatticeProto", "CanvasProto", "NodeProto", 
              "VertexProto", "DiscreteVertexProto", 
              "OrdinalVertexProto", "ContinuousVertexProto",
              "EdgeProto", "VertexEdgeProto", 
              "BlockProto",  "BlockEdgeProto",
              "FactorVertexProto", "FactorEdgeProto", 
              "GeneratorProto", "DiscreteGeneratorProto",
              "LinearGeneratorProto", "QuadraticGeneratorProto", 
              # "NodeListProto", "VertexListProto",
              # "BlockListProto", "FactorVertexListProto",
              # "EdgeListProto", "VertexEdgeListProto",
              # "BlockEdgeListProto", "FactorEdgeListProto",
              "defaultModelObjectProto", "defaultTestObjectProto")
exportMethods("draw", 
              "color",             "color<-", 
              "label",             "label<-", 
              # This can now probably be removed:
              "labelOfEdge",       "labelOfEdge<-", 
              # This is only keept for CoCo.0.1.5.9.9.6:
              "edgeLabel",         "edgeLabel<-", 
              "labelPosition",     "labelPosition<-", 
              "name",              "name<-", 
              "index",             "index<-", 
              # "vertexIndices",     "vertexIndices<-", 
              "position",          "position<-", 
              "stratum",           "stratum<-", 
              "ancestors",         "ancestors<-", 
              "descendants",       "descendants<-", 
              "visible",           "visible<-", 
              "width",             "width<-",   
              # This can now probably be removed:
              "widthOfEdge",       "widthOfEdge<-",
              # This is only keept for CoCo.0.1.5.9.9.6:
              "edgeWidth",         "edgeWidth<-", 
              "oriented",          "oriented<-",
              "nodeIndices",       "nodeIndices<-", 
              "nodeIndicesOfEdge", "nodeIndicesOfEdge<-", 
              "nodeTypesOfEdge",   # "nodeTypesOfEdge<-",
              "Names", 		   "Names<-", 
              "Colors", 	   "Colors<-", 
              "Labels", 	   "Labels<-", 
              "LabelPositions",    "LabelPositions<-", 
              "Positions", 	   "Positions<-", 
              "Strata", 	   "Strata<-", 
              "NodeAncestors", 	   "NodeAncestors<-", 
              "NodeDescendants",   "NodeDescendants<-", 
              "Indices", 	   # "Indices<-", 
              "NodeTypes", 	   # "NodeTypes<-", 
              "NodeIndices",       # "NodeIndices<-",     
              "Widths",            "Widths<-",   
              "Visible",           "Visible<-", 
              "Oriented",          "Oriented<-",
            # "modifyModel", "testEdge", "testLabel", "testWidth", 
              "addToPopups" 
              )
