import(methods)
export(".onLoad.dynamicGraph", ".onLoad.dynamicGraphInterface",
       # "blockAncestors", "blockDescendants",
       # "blockLabels", "blockPositions", "blockStrata", 
       "blockTreeToList",
       "DynamicGraph", "dynamicGraphMain", # "addGraph",
       # "edgeNodeIndices", "edgeLabelPositions", "edgeLabels",
       "modalDialog", "selectDialog", "nameToVertexIndex", 
       "newBlock", "newBlockEdge", "newExtraEdge",
       "newDefaultModelObject", "newDefaultTestObject", 
       "newFactorEdge", "newFactor", "newVertexEdge", "newVertex", 
       # "newBlockEdgeList", "newBlockList", 
       # "newFactorEdgeList", "newFactorVertexList", 
       # "newNodeList", "newVertexEdgeList", "newVertexList", 
       "returnEdgeList", "returnBlockEdgeList", "returnFactorEdgeList",
       "returnFactorVerticesAndEdges", "returnVertexList", 
       "setBlocks", "setTreeBlocks", "returnExtraEdgeList", 
       # "vertexColors", "vertexLabelPositions", "vertexLabels", 
       # "vertexNames", "vertexPositions", "vertexStrata",
       ".propertyDialog", ".dashReplaceMethod", ".emptyDgList",
       ".asDataFrame", ".cliquesFromEdges", ".removeNull", 
       "validVertexClasses", "validFactorClasses",
       "validEdgeClasses", "validViewClasses"
       )
exportClasses("DynamicGraph", "DynamicGraphModel", "DynamicGraphView", 
              "SimpleDynamicGraphView", "FactorDynamicGraphView",
              "MoralDynamicGraphView", "EssentialDynamicGraphView", 
              "dg.list", "dg.Node", "dg.Vertex", "dg.DiscreteVertex", 
              "dg.OrdinalVertex", "dg.ContinuousVertex",
              "dg.Edge", "dg.VertexEdge", "dg.ExtraEdge", "dg.TextVertex",
              "dg.DashedEdge", "dg.DottedEdge", "dg.DoubleArrowEdge",
              "dg.DoubleConnectedEdge", "dg.TripleConnectedEdge",
              "dg.Block", "dg.BlockEdge",
              "dg.FactorVertex", "dg.FactorEdge", 
              "dg.Generator", "dg.DiscreteGenerator",
              "dg.LinearGenerator", "dg.QuadraticGenerator", 
              "dg.NodeList", "dg.VertexList",
              "dg.BlockList", "dg.FactorVertexList",
              "dg.EdgeList", "dg.VertexEdgeList", "dg.ExtraEdgeList",
              "dg.BlockEdgeList", "dg.FactorEdgeList",
              "dg.Model", "dg.Test")
exportMethods("draw", 
              "color",              "color<-", 
              "label",              "label<-", 
              "labelPosition",      "labelPosition<-", 
              "name",               "name<-", 
              "index",              "index<-", 
              # "vertexIndices",      "vertexIndices<-", 
              "position",           "position<-", 
              "stratum",            "stratum<-", 
              "ancestors",          "ancestors<-", 
              "descendants",        "descendants<-", 
              "visible",            "visible<-", 
              "blockindex",         "blockindex<-", 
              "width",              "width<-",   
              "dash",               "dash<-",   
              "oriented",           "oriented<-",
              "nodeIndices",        "nodeIndices<-", 
              "nodeIndicesOfEdge",  "nodeIndicesOfEdge<-", 
              "nodeTypesOfEdge",    # "nodeTypesOfEdge<-",
              "Names", 		    "Names<-", 
              "Colors", 	    "Colors<-", 
              "Labels", 	    "Labels<-", 
              "LabelPositions",     "LabelPositions<-", 
              "Positions", 	    "Positions<-", 
              "Strata", 	    "Strata<-", 
              "NodeAncestors", 	    "NodeAncestors<-", 
              "NodeDescendants",    "NodeDescendants<-", 
              "Indices", 	    # "Indices<-", 
              "NodeTypes", 	    # "NodeTypes<-", 
              "NodeIndices",        # "NodeIndices<-",     
              "Widths",             "Widths<-",   
              "Dashes",             "Dashes<-",   
              "Visible",            "Visible<-", 
              "Oriented",           "Oriented<-",
              "asDataFrame",        "Str", "show",
              # "modifyModel",      "testEdge",
              "addToPopups",        "propertyDialog",
              "setGraphComponents", "graphComponents",
              "vertexEdges",        "vertexEdges<-")
